__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak
venv.bak
# resources/results/
resources/results/gpt-oss-20b_vs30round_en_multi
resources/results/Mistral-7B-Instruct-v0.3_vs30round_en_multi
resources/results/Qwen2.5-32B-Instruct_vs30round_en_multi
.vscode/
.idea/

# LaTeX build artifacts
*.aux
*.log
*.blg
*.out
*.bbl
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

analysis_outputs/
test_verify_results/
